Add Pin.created?

Knowing when the `Pin` object was `created` sounds useful and generic. 
Filtering by creation date was raised in various conversations.




Q:
- Should we add it as part of the mandatory spec?
  - **Note:** this does not impact [WebUI integration](https://github.com/ipfs/ipfs-gui/issues/91), so not a blocker. 
  - We won't include it, unless we hear feedback that it is needed
- If we want to add it, what would be the mechanics of this field?
  - Proposal: `Pin.created` is optional during pin creation, if user does not pass a timestamp, Pinning Service will fill it with current time in UTC.
    - Q: what should be the type of `Pin.created` field?
      - [RFC 3339, section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6) – string: `2004-09-16T23:59:59Z` 
      - [Unix time](https://en.wikipedia.org/wiki/Unix_time) – number: `1095379199`




Yes, implemented in https://github.com/ipfs/pinning-services-api-spec/pull/39